<<<<<<< HEAD
<h1>HERE ARE THE RESULTS</h1>

<%= link_to 'TestPost', post_path(@test_post) %>

<br><table>
  <tr>Checkbox values</tr>
 
    <tr>
      	<td><%= @text_val %></td>
      	<td><%= @images_val %></td>
      	<td><%= @video_val %></td>
    </tr>
    <tr>
    	<td><%= @vibes_list %></td>
    </tr>
    <tr>
    	Posts
    </tr>
    <% @results_asc.each do |elt| %>
    <tr>
    	<td>
    		<%= elt.text_content %>
    	</td>
    	<td>
    		<%= elt.views %>
    	</td>
    </tr>
    <% end %>
</table>
=======
<% provide(:title, "Roulette results") %>
<% provide(:selected, ["roulette"]) %>
<% content_for :head do %>
	<%= javascript_include_tag "search.js" %>
	<%= javascript_include_tag "generate_word_cloud" %>
<% end %>

<style>
    .col-md-5 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .col-md-5 div {
        width: 100%;
    }
    #roulette-box {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #cloud {
    	margin-bottom: 2rem;
    	height: 15rem;
    	width: 35rem;
    }
</style>
<script>
	var words = [
      {text: "Lorem", weight: 15},
      {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
      {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
      {text: "Sit", weight: 7},
      {text: "Amet", weight: 5}
    ]
</script>
<div class="container">
    <div class="clearer">&nbsp;</div>
    <div class="row">
        <div class="col-md-5">
            <h3>
                Title of Image
            </h3>
            <div id="image-box">
                <img id="roulette-image" src="./images/Render2.jpg">
                <a id="previous" class="red-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a id="next" class="red-link">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="clearer">&nbsp;</div>
            <div class="desc-box black">
                <p>
                    Test post ignore
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
            <p>
                Give it a 
                <input type="submit" value="Spark!">
            </p>
                <div class="clearer">&nbsp;</div>
            <div id="vibe-tab" class="tab">Vibes</div>
            <div id="comment-tab" class="tab unselected">Comments</div>
            <div class="clearer"></div>
            <div class="form-container" id="roulette-box">
                <div class="clearer">&nbsp;</div>
                <div class="clearer">&nbsp;</div>
                <div id="vibe-box" class="">
                	<div id="cloud">
					</div>
                    <form>
                        <textarea class="long" placeholder="Enter vibes"></textarea>
                        <div class="clearer">&nbsp;</div>
                        <input type="submit" value='Submit'/>
                        <div class="clearer">&nbsp;</div>
                    </form>
                </div>
                <div id="comment-box" class="hidden">
                    <form>
                        <textarea class="long" placeholder="Enter a comment"></textarea>
                        <div class="clearer">&nbsp;</div>
                        <input type="submit" value='Submit'/>
                        <div class="clearer">&nbsp;</div>
                    </form>
                    <ul id="comments">
                        <li class="comment">
                            <a class="red-link">
                                <h4>
                                    Anonymous
                                </h4>
                            </a>
                            <p>
                                CommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentComment
                            </p>
                        </li>
                        <li class="comment">
                            <a class="red-link">
                                <h4>
                                    Anonymous
                                </h4>
                            </a>
                            <p>
                                CommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentCommentComment
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearer">&nbsp;</div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
</div>
<!-- <div id="roulette-tab" class="extended"> -->
<div id="roulette-tab" class="">
    <div class="images">
        <a class="video glyphicon">
            <img class="video roulette-image" src="./images/Render2.jpg"/>
        </a>
        <a class="text glyphicon">
            <img class="text roulette-image" src="./images/Render2.jpg"/>
        </a>
        <a class="image glyphicon">
            <img class="image roulette-image" src="./images/Render2.jpg"/>
        </a>
        <a class="video glyphicon">
            <img class="roulette-image" src="./images/Render2.jpg"/>
        </a>
    </div>
    <span class="glyphicon glyphicon-step-forward"></span>
</div>
>>>>>>> 6d5ca06fba96bd353063508b98ec0304bef63915
