<h1>HERE ARE THE RESULTS</h1>

<%= link_to 'TestPost', post_path(@test_post) %>

<br><table>
  <tr>Checkbox values</tr>
 
    <tr>
      	<td><%= @text_val %></td>
      	<td><%= @images_val %></td>
      	<td><%= @video_val %></td>
    </tr>
    <tr>
    	<td><%= @vibes_list %></td>
    </tr>
    <tr>
    	Posts
    </tr>
    <% @results_asc.each do |elt| %>
    <tr>
    	<td>
    		<%= elt.text_content %>
    	</td>
    	<td>
    		<%= elt.views %>
    	</td>
    </tr>
    <% end %>
</table>