<table>
  <tr>Post</tr>
  <% @posts.each do |elt|%>
    <tr>
      <td><%= elt.text_content %></td>
      <td><%= elt.image_path %></td>
      <td><%= elt.video_path %></td>
      <td><%= elt.spark_count %></td>
      <td><%= elt.score %></td>
      <td><%= elt.views %></td>
    </tr>
  <% end %>
</table>

<br><table>
  <tr>User</tr>
  <% @users.each do |elt|%>
    <tr>
      <td><%= elt.name %></td>
      <td><%= elt.about %></td>
      <td><%= elt.password %></td>
    </tr>
  <% end %>
</table>

<br><table>
  <tr>Comment</tr>
  <% @comments.each do |elt|%>
    <tr>
      <td><%= elt.text_content %></td>
      <td><%= elt.author_name %></td>
      <td><%= elt.date_submitted %></td>
      <td><%= elt.post_id %></td>
    </tr>
  <% end %>
</table>

<br><table>
  <tr>Vibe</tr>
  <% @vibes.each do |elt|%>
    <tr>
      <td><%= elt.vibe %></td>
      <td><%= elt.user_id %></td>
      <td><%= elt.post_id %></td>
    </tr>
  <% end %>
</table>

