<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="./css/default.css">
        <script src="./js/jquery-2.1.1.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </header>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <img id="logo" src="./images/Sparkey Logo Orange.png">
                  <a class="navbar-brand" href="#">
                    Spar<span class="dark-red">k</span>ey
                  </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <div class="nav navbar-nav navbar-right">
                    <form>  
                        <input type="text" placeholder="username"/>
                        <input type="password" placeholder="password"/>
                        <input type="submit" value="Login" />
                    </form>
                    <!-- erb for the login form
                        <%= form_for :user, url: login_path do |f| %>
                            <%= f.text_field :username, :placeholder => "Username" %>
                            <%= f.password_field :password %>
                            <%= f.submit :value => "Login" %>
                        <% end %>
                    -->
                  </div>
                </div>
              </div>
            </nav>
            <div class="container vertical-align">
                <div class="row vertical-align">   
                    <div id="splash_text" class="col-md-5 vertical-align">
                        <div class="black">
                            <p class="big-text">
                                Fed up with your art being <span class="dark-red bold">buried </span> and never getting seen?
                            </p>
                            <p class="big-text">
                                Tired of your voice echoing in an <span class="dark-red bold">empty stadium</span>? </br>
                            </p>
                            <p class="big-text">
                                Join a community whose goal is to <span class="dark-red bold">help</span> each other be heard and where stray <span class="dark-red bold">sparks</span> start <span class="dark-red bold">wildfires</span>! </br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-4">
                        <div class="form-container">
                            <h3 >
                                Sign up!
                            </h3>
                            <form>
                                <input class="long" type="text" placeholder='email'/>
                                <div class="clearer">&nbsp;</div>
                                <input class="long" type="text" placeholder='username'/>
                                <div class="clearer">&nbsp;</div>
                                <input class="long" type="password" placeholder='password'/>
                                <div class="clearer">&nbsp;</div>
                                <input class="long" type="password" placeholder='confirm password'/>
                                <div class="clearer">&nbsp;</div>
                                <div class="clearer">&nbsp;</div>
                                <input type="submit" value='Sign Up'/>
                                <div class="clearer">&nbsp;</div>
                                <div class="clearer">&nbsp;</div>
                            <form>
                        </div>
                        <!--For the create, erb
                            <%= form_for :user, url: create_path do |f| %>
                                <%= f.text_field :email, :placeholder => "email"%>
                                <div class="clearer">&nbsp;</div>
                                <%= f.text_field :name, :placeholder => "username"%>
                                <div class="clearer">&nbsp;</div>
                                <%= f.password_field :password, :placeholder => "password"%>
                                <div class="clearer">&nbsp;</div>
                                <%= f.password_field :password_2 :placeholder => "confirm password"%>
                                <div class="clearer">&nbsp;</div>
                                <%= f.submit :value => "Sign Up!" %>
                                <div class="clearer">&nbsp;</div>
                            <% end %>
                            
                            :class => 'submit_class_name_here'
                        -->
                    </div>
                </div>
            </div>
            <!-- Leave push in there, it's for the footer -->
            <div id="push"></div>
        </div>
            <div id="footer">
                <a class="red-link" href="./about.html">About</a>
            </div>
        </div>
    </body>
</html> 
