<% provide(:title, "Profile") %>
<% provide(:selected, []) %>
<% content_for :head do %>
	<%= stylesheet_link_tag "profile.css" %>
	<%= javascript_include_tag "generate_word_cloud" %>
<% end %>

<script>
	var words = [
      {text: "Lorem", weight: 15},
      {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
      {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
      {text: "Sit", weight: 7},
      {text: "Amet", weight: 5}
    ]
</script>

<div class="container">
    <div id="profile">
		<div id="leftpage" class="page">
			<%= image_tag("leftPage.png", :alt => "leftPage", :class => "pageimage") %>
			<div id="leftpagetext" class="pagetext">
			<%= image_tag("/profilepictures/#{@user[:username]}.png", :alt => "Upload a profile pic!", :id => "profilepic") %>
				<p class="pagetitle"> <%= @user.username %></p>
				<p id="status"><%= @user.about %></p>
		<% if current_user[:id] == @user[:id] %>
			<%= form_for :user, url: user_update_path do |f| %>
				<p>
					<%= f.file_field :picture %>
				</p>
				<p>
					<%= f.text_field :about, :placeholder => 'Update your status:' %>
				</p>

				<p>
				<%= f.submit "Submit" %>
				</p>
			<% end %>
		<% end %>
					</div>
		</div>
		<div id="rightpage" class="page">
			<%= image_tag("rightPage.png", :alt => "rightPage", :class => "pageimage") %>
			<div id="vibes" class="pagetext">
				<p class="pagetitle">Vibes</p>
				<div id="cloud">
				</div>
			</div>
		</div>
	</div>
</div>