<% provide(:title, "Profile") %>
<% provide(:selected, []) %>
<% content_for :head do %>
	<%= stylesheet_link_tag "profile.css" %>
	<%= javascript_include_tag "generate_word_cloud" %>
<% end %>

<script>
	var words = [
      {text: "Lorem", weight: 15},
      {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
      {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
      {text: "Sit", weight: 7},
      {text: "Amet", weight: 5}
    ]
</script>
<div class="container">
    <div id="profile">
		<div id="leftpage" class="page">
			<%= image_tag("leftPage.png", :alt => "leftPage", :class => "pageimage") %>
			<div id="leftpagetext" class="pagetext">
				<p>
					<%= image_tag( @user.username + ".png", :alt => "profile pic", :id => "profilepic") %>
				</p>
				<p class="pagetitle"> <%= @user.username %></p>
				<p id="status"><%= @user.about %></p>
				<table id="activity">
					<tr>
						<th></th>
						<th>M</th>
						<th>T</th>
						<th>W</th>
						<th>Th</th>
						<th>F</th>
						<th>S</th>
						<th>Su</th>
					</tr>
					<tr>
						<td>Uploads</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Comments</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Vibes</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="rightpage" class="page">
			<%= image_tag("rightPage.png", :alt => "rightPage", :class => "pageimage") %>
			<div id="vibes" class="pagetext">
				<p class="pagetitle">Vibes</p>
				<div id="cloud">
				</div>
			</div>
		</div>
	</div>
</div>