<% provide(:title, "Profile") %>
<% provide(:selected, []) %>
<% content_for :head do %>
	<%= stylesheet_link_tag "profile.css" %>
<% end %>

<div class="container">
    <div id="profile">
		<div id="leftpage" class="page">
			<%= image_tag("leftPage.png", :alt => "leftPage", :class => "pageimage") %>
			<div id="leftpagetext" class="pagetext">
				<% if File.file?("/profilepictures/#{current_user[:username]}.png") %>
					<%= image_tag("/profilepictures/#{current_user[:username]}.png", :alt => "profile pic", :id => "profilepic") %>
				<% else %>
					<img src="/profilepictures/default.png" id="profilepic"/>
				<% end %>
				<br/>
				<p class="pagetitle"> <%= current_user.username %></p>
				<p id="status"><%= current_user.about %></p>
				<%= form_for :user, url: user_update_path do |f| %>
					<p id="profilePic">
						<%= f.file_field :picture %>
					</p>
					<p>
						<%= f.text_field :status, :placeholder => 'Update your status:' %>
					</p>

					<p>
					<%= f.submit "Submit" %>
					</p>
				<% end %>
				<!-- <table id="activity">
					<tr>
						<th></th>
						<th>M</th>
						<th>T</th>
						<th>W</th>
						<th>Th</th>
						<th>F</th>
						<th>S</th>
						<th>Su</th>
					</tr>
					<tr>
						<td>Uploads</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr> -->
					<!-- <tr>
						<td>Comments</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Vibes</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table> -->
			</div>
		</div>
		<div id="rightpage" class="page">
			<%= image_tag("rightPage.png", :alt => "rightPage", :class => "pageimage") %>
			<div id="uservibes" class="pagetext">
				<p class="pagetitle">Vibes</p>
				<img class="pageimage" src="./images/Lassie Vampire Cloud Transparent.png">
			</div>
		</div>
	</div>
</div>