<!DOCTYPE HTML>
<html>
    <header>
        <div id="header">
            <%= link_to(@root_path) do %>
                <div id="logo">
                    <%= image_tag "Sparkey Logo Orange.png" %>
                    Spar<span class="red">k</span>ey
                </div>
            <% end %>
        </div>
        <div id="userinfo">
            <%= form_for :user, url: login_path do |f| %>
                <%= f.text_field :username, :placeholder => "Username" %>
                <%= f.password_field :password %>
                <%= f.submit :value => "Login" %>
            <% end %>
        </div>
    </header>

    <body>
        <div id="poem">
            Get the unseen seen.<br/><br/><br/>
            Discover new talent (such as yourself).<br/><br/><br/>
            Evolve your style.<br/><br/><br/>
        </div>

        <%= form_for :user, url: create_path do |f| %>
                <%= f.text_field :username %>
                <%= f.label(:username, "Username") %>
                <%= f.text_field :email%>
                <%= f.label(:email, "Email") %>
                <%= f.password_field :password_1 %>
                <%= f.label(:password_1, "Password") %>
                <%= f.password_field :password_2%>
                <%= f.label(:password_2, "Confirm Password") %>
                <%= f.submit :value => "Create" %>
        <% end %>
       </body>
    <footer>
    </footer>
</html>