<% if user_signed_in? %>
	<nav class="navbar navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<%= image_tag("Sparkey Logo Orange.png", :alt => "Sparkey", :id => "logo") %>
				<a class="navbar-brand" href="#">
					Spar<span class="dark-red">k</span>ey
				</a>
			</div>
		<div id="navbar" class="navbar-collapse collapse">
			<div class="navbar-center-wrapper">
				<ul class="nav navbar-nav navbar-center">
					<% selected = yield(:selected) %>
					<% if selected.include? "roulette" %>
					    <li class="active"><a href="./roulette_config.html">Roulette</a></li>
					    <li><a href="./browse.html">Browse</a></li>
				    	<li><a href="./submit.html">Submit</a></li>
			    	<% else %>
		    			<li><a href="./roulette_config.html">Roulette</a></li>
				    	<% if selected.include? "browse"%>
					    	<li class="active"><a href="./browse.html">Browse</a></li>
					    	<li><a href="./submit.html">Submit</a></li>
					  	<% else %>
				  			<li><a href="./browse.html">Browse</a></li>
					  		<% if selected.include? "submit"%>
				  				<li class="active"><a href="./submit.html">Submit</a></li>
			  				<% else %>
		  						<li><a href="./submit.html">Submit</a></li>
			  				<% end %>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="nav navbar-nav navbar-right">
				<div id="user-options">
				    <a href="./profile.html" class="red-link"> <%= current_user.username %> </a>
				    <span class="divider">|</span>
				    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "red-link") %>
				</div>
			</div>
		</div><!--/.nav-collapse -->
		</div>
	</nav>

<% else %>
	<nav class="navbar navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      <%= image_tag("Sparkey Logo Orange.png", :alt => "Sparkey", :id => "logo") %>
	      <a class="navbar-brand" href="#">
	        Spar<span class="dark-red">k</span>ey
	      </a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <div class="nav navbar-nav navbar-right">
			 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			    <%= f.email_field :email, autofocus: true, :placeholder => "email" %>
			 
			    <%= f.password_field :password, autocomplete: "off", :placeholder => "password" %>
			 
			    <%= f.submit "Login" %>
			 <% end %>
	      </div>
	    </div>
	  </div>
	</nav>
<% end %>
